.projects {
    padding-top:88px;
    padding-bottom: 138px;
    &__wrapper {
        display: flex;
        justify-content: space-around;
    }
    &__nav {
        &_list {
            margin-top: 40px;
            list-style-type: none;
            padding: 0;
            margin-bottom: 0;
            &-item {
                margin-top: 20px;
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
                color: #C2C7D6;
                cursor: pointer;
                &:nth-child(1) {
                    margin-top: 0;
                }
            &.active {
                position: relative;
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
                color: #2947A9;
                &::before {
                    content: '';
                    position: absolute;
                    width: 4px;
                    height: 100%;
                    background: #2947A9;
                    left: -1em;
                }
            }
            }
        }
    }
    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        color: #292E3D;
    }
    .owl-carousel {
        max-width: 800px;
        overflow-x: hidden;
        max-height: 790px;

        .owl-stage {
            display: grid;
            grid-template-columns: 384px;
            grid-template-rows: repeat(2, 331px);
            grid-auto-flow: column;
            grid-auto-columns: 384px;
            gap: 30px;
        }
        .owl-item {
            min-width: 384px;
            min-height: 331px;
            .item {
                &__desc {
                    padding: 12px 12px 16px;
                    background: #2947A9;
                    &_title {
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 23px;
                        color: #FFFFFF;
                    }
                    &_text {
                        margin-top: 12px;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 21px;
                        color: #FFFFFF;
                    }
                }
            }
        }
        .owl-nav {
            display: flex;
            justify-content: space-between;
            button {
                width: 295px;
                height: 64px;
                background: #292E3D;
                &:hover {
                    background: #292E3D !important;
                }
            }
            .owl-prev {
                &.disabled {
                    opacity: 0.7 !important; 
                }
            }
            .owl-next {
                &.disabled {
                    opacity: 0.7 !important; 
                }
            }
        }
        .owl-dots {
            position: absolute;
            left: 47%;
            bottom: 17px;
            .owl-dot {
                span {
                    width: 16px;
                    height: 16px;
                    background: #F6F8F7;;
                }
                &.active {
                    span {
                        background: #2947A9 !important;
                    }
                }
            }
        }
    }
}